CHARACTER_BIN_DIR=
CHARACTER_CODEC=
CHARACTER_CROSS_SECTIONS=
CHARACTER_DEMO_ID=
CHARACTER_DEST_DEFAULT=
CHARACTER_DEST_X2=
CHARACTER_DEST_X3=
CHARACTER_DIFFUSE=
CHARACTER_GLB=
CHARACTER_LEVELS=
CHARACTER_NODES=
CHARACTER_OUT_PREFIX=
CHARACTER_REGIONS_JSON=
CHARACTER_SECTION_REGIONS_JSON=
CHARACTER_SPOKES_JSON=
CHARACTER_WORKDIR=
CHARACTER_WORK_TAG=